@use "../../foundation/variables" as *;
@use "../hyun-variables" as *;

.section-hero {
  --hero-color: #{$hyun-white};
  --hero-background-color: var(--theme-primary);

  min-height: 84vh;
  background-color: var(--hero-background-color);
  position: relative;

  &.hero-light {
    --hero-color: var(--themme-primary);
    --hero-background-color: #{$hyun-white};
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 70rem;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hyun-title {
    font-size: $h3-font-size;
  }

  .hero__text {
    opacity: 0;
    animation: fade-in .5s 3.3s ease-in-out forwards;
  }

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .hyun-title {
      font-size: $h1-font-size;
    }
  }

  .hyun-logo {
    &__letter {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      opacity: 1;
      animation: write-letter ease-in forwards;

      &.hidden {
        opacity: 0;
        transition: .4s .8s ease-out;
      }

      &.letter-d {
        animation-duration: .6s;
        animation-delay: .9s;
      }

      &.letter-c {
        animation-duration: .6s;
        animation-delay: 1.7s;
      }

      &.letter-h {
        &-left {
          animation-duration: .5s;
          animation-delay: .5s;
        }

        &-right {
          animation-duration: .6s;
          animation-delay: 2.6s;
        }

        &-center {
          animation-duration: .5s;
          animation-delay: 3.2s;
        }
      }
    }
  }

  .hyun-illustration {
    overflow: visible;
    opacity: 1;
    margin-bottom: 0;
    transition: opacity .8s .8s ease-in-out;
    animation: rotate 9s linear 1s 4;

    &.hidden {
      opacity: 0;
    }
  }

  .hero-icons {
    position: relative;
    height: 300px;

    .hero-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .hero-link {
    position: absolute;
    font-size: $h5-font-size;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    left: 50%;
    bottom: 10svh;
    color: var(--hero-color);
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .5s .8s ease-in-out;

    &.hidden {
      opacity: 0;
    }
  }

  &.no-animation {
    .hyun-logo {
      display: none;
    }

    .hyun-nav,
    .hero-link,
    .hyun-illustration,
    .bg-lines {
      transition-delay: 0s;
    }

    .hero__text {
      animation-duration: .8s;
      animation-delay: 0s;
    }

    .hyun-illustration {
      animation-delay: -.4s;
    }
  }
}

.section-projects {
  opacity: 1;
  transition: all .5s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes write-letter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
