@use "../../foundation/variables" as *;
@use "../hyun-utilities" as *;
@use "../hyun-variables" as *;

.promo-number {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-direction: row;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
  }

  &__value {
    font-size: 8rem;
    margin-top: 2.2rem;
    line-height: .6em;
    color: var(--theme-primary);
  }

  &__suffix {
    font-size: 5rem;
    line-height: 1;
    color: var(--theme-primary);
  }

  &__blurb {
    font-size: 1.6rem;
    font-weight: 600;
  }
}